
.navega{
    background-color: #050a22;
}   

.item-1{
    color: #ffffff;
}

.item-2{
    color: #ffffff; 
}

.text-principal{
    background-color: #050534;
    padding: 2rem;
    color: #ffffff;
}

.text-3{
    background-color: #140e62;
    padding: 2rem;

}
.text-4{
    background-color: #322a93;
    padding: 2rem;

}

.color-text{
    color: #ffffff;
    padding: 2rem;
}

.footer{
    background-color: #050534;
    padding: 5%;
    color: #ffffff;
}